.main{
  margin-left: 100px;
  margin-top: 80px;
  width: 1000px;
  height: 760px;
  text-align: center;
}

.form{
  position:relative;
  margin-bottom: 15px;
}

.form i {
  position:absolute;
  top: 3px;
  right: 600px;
  font-size: 20px;
  padding:10px 10px;
  color:#ffdb4d;
}

.input{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #fff5cc;
  background-color: #1a1a1a;
  outline: none;
  padding-left: 60px;
  padding-right: 30px;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  font-family: 'Courier New';
  font-weight: bold;
}

.input:hover{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  border-color: #ffdb4d;
  filter: drop-shadow(0 0 2px #fff5cc);
}

.input:focus{
  filter: drop-shadow(0 0 5px #ffcc00);
  border-color: #ffdb4d;
}

.input::placeholder{
  color: #bfbfbf;
}

.input:hover::placeholder{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  color: #ffdb4d;
}

.input:focus::placeholder{
  color: white;
}

.textaea textarea{
  margin-top: 15px;
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  border: 1px solid #fff5cc;
  background-color: #1a1a1a;
  outline: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: white;
  resize: none;
  text-align: justify;
  box-sizing: border-box;
}

.textaea textarea:hover{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  border-color: #ffdb4d;
  filter: drop-shadow(0 0 2px #fff5cc);
}

.textaea textarea:focus{
  filter: drop-shadow(0 0 5px #ffcc00);
  border-color: #ffdb4d;
}

.textaea textarea::placeholder{
  color: #bfbfbf;
}

.textaea textarea:focus::placeholder{
  color: white;
}

.footer{
  width: 1000px;
  height: 50px;
  margin: auto;
  display: flex;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 20px;
}

.leftFoot{
  width: 333px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 50px;
  border: 1px solid #fff5cc;
  color: #fff5cc;
  background-color: #1a1a1a;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.leftFoot:hover{
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  border-color: #ffdb4d;
  filter: drop-shadow(0 0 5px #ffcc00);
}

.centerFoot{
  width: 334px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff5cc;
  color: #fff5cc;
  background-color: #1a1a1a;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.centerFoot:hover{
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  border-color: #ffdb4d;
  filter: drop-shadow(0 0 5px #ffcc00);
}

.rightFoot{
  width: 333px;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 50px;
  border: 1px solid #fff5cc;
  color: #fff5cc;
  background-color: #1a1a1a;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.rightFoot:hover{
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  border-color: #ffdb4d;
  filter: drop-shadow(0 0 5px #ffcc00);
}


.button{
  width: 180px;
  height: 40px;
  font-size: 20px;
  outline: none;
  font-family: 'Courier New';
  font-weight: bold;
  background-color: #1a1a1a;
  color: #ffdb4d;
  border: 1px solid #ffdb4d;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.button:disabled {
  background-color: #2d2d2d;
  color: gray;
  border: 1px solid gray;
}

.button:not(:disabled):hover {
  cursor: pointer;
  background-color: #2d2d2d;
  color: white;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.cancelButton{
  width: 120px;
  height: 40px;
  font-size: 20px;
  outline: none;
  font-family: 'Courier New';
  font-weight: bold;
  background-color: #1a1a1a;
  color: #ffdb4d;
  border: 1px solid #ffdb4d;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.cancelButton:disabled {
  background-color: #2d2d2d;
  color: gray;
  border: 1px solid gray;
}

.cancelButton:not(:disabled):hover {
  cursor: pointer;
  background-color: #2d2d2d;
  color: white;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}


.leftFootC{
  width: 500px;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height: 50px;
  border: 1px solid #fff5cc;
  color: #fff5cc;
  background-color: #1a1a1a;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.leftFootC:hover{
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  border-color: #ffdb4d;
  filter: drop-shadow(0 0 5px #ffcc00);
}

.rightFootC{
  width: 500px;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 50px;
  border: 1px solid #fff5cc;
  color: #fff5cc;
  background-color: #1a1a1a;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.rightFootC:hover{
  cursor: pointer;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  border-color: #ffdb4d;
  filter: drop-shadow(0 0 5px #ffcc00);
}