.main {
  width: 1500px;
  height: auto;
  display: flex;
}

.list {
  margin-left: 50px;
  margin-top: 80px;
  background-color: #262626;
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #fff5cc;
  box-sizing: border-box;
  padding: 10px 30px;
  text-align: center;
  font-family: 'Courier New';
  filter: drop-shadow(0 0 2px #fff5cc);
}

.logo {
  width: 60px;
}

.directories {
  height: 500px;
  word-wrap: break-word;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
}

.directory {
  margin: 25px auto 0 auto;
  width: 220px;
  height: 40px;
  background-color: #212121;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  color: #fff5cc;
  border-radius: 10px;
  border-left: 1px solid #fff5cc;
  border-right: 1px solid #fff5cc;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.directorySelected {
  margin: 25px auto 0 auto;
  width: 220px;
  height: 40px;
  background-color: #212121;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  color: #fff5cc;
  border-radius: 10px;
  border-left: 1px solid #ffdb4d;
  border-right: 1px solid #ffdb4d;
  filter: drop-shadow(0 0 2px #ffdb4d);
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.directory:hover {
  border-left: 1px solid #fff5cc;
  filter: drop-shadow(0 0 2px #fff5cc);
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  cursor: pointer;
}

.newDirectory {
  margin: 25px auto 0 auto;
  width: 40px;
  height: 40px;
  background-color: #212121;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  color: #fff5cc;
  border-radius: 10px;
  border-left: 1px solid #fff5cc;
  border-right: 1px solid #fff5cc;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  word-wrap: break-word;
  overflow: hidden;
}

.newDirectory:hover {
  width: 220px;
  font-size: 18px;
  color: #fff5cc;
  border-left: 1px solid #fff5cc;
  filter: drop-shadow(0 0 2px #fff5cc);
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: linear;
  cursor: pointer;
  word-wrap: break-word;
  overflow: hidden;
}

.newDirectory:hover span {
  display: none;
  word-wrap: break-word;
  overflow: hidden;
}

.newDirectory:hover:before {
  content: "New directory";
  word-wrap: break-word;
  overflow: hidden;
}


hr {
  border: 1px solid #fff5cc;
  margin-bottom: 10px;
}


.loggedAs {
  color: #fff5cc;
  font-size: 20px;
}

.loggedAsName {
  color: white;
  font-size: 18px;
  margin-top: 5px;
  word-wrap: break-word;
  filter: drop-shadow(0 0 2px black);
}

.button {
  border: 0;
  margin-top: 10px;
  width: 140px;
  height: 40px;
  font-size: 20px;
  outline: none;
  font-family: 'Courier New';
  font-weight: bold;
  background-color: #212121;
  border-left: 1px solid #fff5cc;
  border-right: 1px solid #fff5cc;
  color: #fff5cc;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.button:disabled {
  background-color: #2d2d2d;
  color: gray;
  border: 1px solid gray;
}

.button:not(:disabled):hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2px #fff5cc);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.loadingDiv {
  line-height: 500px;
  text-align: center;
  font-size: 30px;
  color: #ffdb4d;
}