.background {
  position: fixed;
  width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(20, 20,20, 0.5);
  overflow-y: hidden;
  backdrop-filter: blur(5px);
  z-index: 11;
}