.main{
  margin-left: 100px;
  margin-top: 80px;
  width: 400px;
  height: 260px;
  background-color: #262626;
  border-radius: 10px;
  border: 1px solid #fff5cc;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 0 30px;
  padding-top: 20px;
  text-align: center;
  font-family: 'Courier New';
  filter: drop-shadow(0 0 2px #fff5cc);
}

.upperText {
  font-family: 'Courier New';
  font-weight: bold;
  text-align: center;
  color: #fff5cc;
  font-size: 25px;
  letter-spacing: 1px;
}

.patternText{
  font-family: 'Courier New';
  font-weight: bold;
  text-align: center;
  color: #fff5cc;
  font-size: 25px;
  font-size: 18px;
  color: white;
}

.input{
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #fff5cc;
  background-color: #1a1a1a;
  outline: none;
  padding-left: 50px;
  padding-right: 30px;
  color: white;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Courier New';
  font-weight: bold;
}

.input:hover {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  border-color: #ffdb4d;
  filter: drop-shadow(0 0 2px #fff5cc);
}

.input:focus {
  filter: drop-shadow(0 0 5px #ffcc00);
  border-color: #ffdb4d;
}

.input::placeholder{
  color: #bfbfbf;
}

.input:hover::placeholder{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
  color: #ffdb4d;
}

.input:focus::placeholder{
  color: white;
}

.form{
  position:relative;
  margin-top: 30px;
}

.form i {
  position:absolute;
  top:7px;
  right: 270px;
  padding:10px 10px;
  color:#ffdb4d;
}

.button {
  border: 0;
  margin-top: 30px;
  width: 240px;
  height: 50px;
  font-size: 20px;
  outline: none;
  font-family: 'Courier New';
  font-weight: bold;
  background-color: #212121;
  border-left: 1px solid #fff5cc;
  border-right: 1px solid #fff5cc;
  color: #fff5cc;
  border-radius: 10px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.button:disabled {
  background-color: #2d2d2d;
  color: gray;
  border: 1px solid gray;
}

.button:not(:disabled):hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2px #fff5cc);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: linear;
}