.main{
  width: 500px;
  height: 100%;
  text-align: center;
  margin-top: 200px;
}

.mainS{
  width: 500px;
  height: 100%;
  text-align: center;
  margin-top: 200px;
  margin-left: 500px;
}

.welcomeText {
  font-family: 'Courier New';
  font-weight: bold;
  text-align: center;
  color: #fff5cc;
}

.wTBig {
  font-size: 25px;
  letter-spacing: 1px;
}

.wTSmall{
  font-size: 18px;
  color: white;
}