#root {
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: Inter;
  src: url(./assets/Inter.ttf);
}

html, body{
  height: 100%;
  font-family: Inter;
}

.App{
  height: 100%;
  display: flex;
}

.main{
  width: 1500px;
  height: auto;
  margin: auto;
  text-align: left;
  display: flex;
}

.logo {
  height: 300px;
  padding: 1.5em;
  margin-top: 200px;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ffcc00);
  cursor: pointer;
}

.center{
  position: absolute;
  margin-left: 500px;
  width: 500px;
  height: 100%;
  text-align: center;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
}